BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
