BasedOnStyle: LLVM
ColumnLimit: 80
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
IndentWidth: 2
TabWidth: 2
UseTab: Never
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
